/* TestimonialCarousel.css */
.testimonial-section {
    text-align: center; /* Center align the content */
    margin-bottom: 10px; /* Add some margin below the section */
    background: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
  }
  
  .testimonial-header {
    font-size: 2.5rem; /* Increase font size */
    font-weight: bold; /* Make the header bold */
    color: #333; /* Set color */
    margin-bottom: 20px; /* Add some margin below the header */
    text-transform: uppercase; /* Transform text to uppercase */
    letter-spacing: 2px; /* Add some letter spacing */
    /* Add creative styling (e.g., text-shadow) as desired */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Example of text shadow */
  }
.testimonial-carousel {
    width: 80%;
    margin: 0 auto;
  }
  
  .testimonial-slide {
    display: flex;
    align-items: center;
    background-color: #ebe4e4;
    padding:12px
  }
  
  .testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .testimonial-content {
    flex: 1;
  }
  
  .testimonial-name {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #333;
  }
  
  .testimonial-role {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 10px;
    color: #666;
  }
  
  .testimonial-text {
    font-size: 1.1rem;
    line-height: 1.4;
    color: #444;
  }
  
  .slick-prev, .slick-next {
    font-size: 24px;
    color: #666;
  }
  
  .slick-dots {
    bottom: 20px;
  }
  
  .custom-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b5aeae;
    opacity: 0.7;
    margin: 0 5px;
  }
  
  .custom-dot.slick-active {
    background-color: #333;
  }
  